/*---------------------------Font Mods---------*/
p{
	font-family: ‘Fenix’, Arial, serif; font-weight: 400;
}

h1{
	font-family: ‘Montaga’, Arial, serif; font-weight: 400;
}
/*---------------------------Link Mods---------*/

a:link{
	color: #bcbcbc;
/*------silver---------*/
}

a:visited{
	color: #0d7cff;
/*------blue---------*/
}

a:hover{
	color: #6495ED;
/*-cornflower blue-*/
}

a:active{
	color: #696969;
/*--dim gray------*/
}

/*---------------------------Ul MoDS---------*/

ul{
	list-style-type: circle;
}