body{
	font-family: ‘Fenix’, Arial, serif;
	font-size: 14px;
	line-height: 1.5;
	width: 800px;
	margin: 0 auto;
	background-image: url('../images/background.png')
}

/*---------------------------Link Mods---------*/

a:link{
	color: #bcbcbc;
/*------silver---------*/
}

a:visited{
	color: #0d7cff;
/*------blue---------*/
}

a:hover{
	color: #6495ED;
/*-cornflower blue-*/
}

a:active{
	color: #696969;
/*--dim gray------*/
}

/*---------------------------Ul Mods---------*/

li{
	list-style-type: circle;
}

/*---------------------------Nav Mods---------*/

nav ul{
	width: 800px;
	margin: 0 auto;
	background: #666
	list-style-type: none;
	padding: 0;
	overflow: hidden;
}

nav li{
	width: 200px;
	background: silver;
	float: left;
	list-style-type: none;
	
}

nav a{
	text-decoration: none;
	background: #fff;
	display: block;
	height: 30px;
	line-height: 30px;
	text-align: center;
	color: orange;
}

nav a:hover{
	color: yellow;
	background: purple;
}

/*---------------------------Nav Mods---------*/

div{
	-moz-column-count: 3;
	-moz-column-gap: auto;
}

/*---------------------------H1 Shadow Mod---------*/

h1{
	text-shadow: 3px 3px 3px #bcbcbc;
}

/*---------------------------Gallery Mod---------*/

section ul{
	border: 1px dashed #fff;
	list-style-type: none;
	width: 800px;
	margin: 5px auto;
	overflow: hidden;
	padding: 5px;
}

section li{
	float: left;
	margin-left: 10px;
}

section a{
	border: 10px solid #0d7cff;
	display: block;
	height: 120px;
	width: 140px;
	outline: 0;
}